.comment {
	 padding-top: 10px;
}
 .comment h3 {
	 display: inline;
	 color: royalblue;
}
 .comment p {
	 margin: 0;
}
 .comment-new {
	 margin-top: 25px;
}
 .comment-form {
	 display: flex;
	 flex-direction: column;
	 margin-top: 25px;
}
 .comment-form .comment-message, .comment-form .comment-name {
	 font-size: 16px;
	 padding: 15px;
	 border: 1px solid #ddd;
	 margin: 0;
}
 .comment-form .comment-message {
	 min-height: 150px;
	 resize: none;
}
 .comment-form .comment-bottom {
	 display: flex;
}
 .comment-form .comment-name {
	 flex: 1;
}
 .comment-form .comment-submit {
	 width: 200px;
	 border: 1px solid #ddd;
	 color: royalblue;
	 font-weight: bold;
}
 .comment-form .comment-submit:hover {
	 cursor: pointer;
}
 
