<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}

<header class="header-section {% if page.bigimg %}has-img{% endif %} {{ include.type }}-heading">
         	{% if include.type == "page" %}
		<div class="row">
		<h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
			{% else %}
			<h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
			{% endif %}
		</div>
		  {% endif %}
		  
		  {% if include.type == "post" %}
	<h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>	
          <div class="post-meta"><span class="postdate">{{ page.date | date: "%d %B %Y" }}</span> {% assign read_time = page.content | number_of_words | divided_by: 200 %}
	{% if read_time > 0 %} — <span class="readtime">{{ read_time }} Menit</span> <img alt="view counter" src='https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fanimenow.eu.org%2F/sword-of-coming-bagus-tapi-ganjil&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=👁&edge_flat=false'/>
	{% endif %}
          </div>
		  {% endif %}
</header>
{% else %}
<div class="intro-header"></div>
{% endif %}
