
<div class="sidebar-section">
  <div class="list-group">
    {% assign show_siderecent = true %}
{% if show_siderecent = true %}
    {% include siderecent.html %}
    {% endif %}
  </div>
  <div class="list-group">
    {% comment %}
    -------------
    {% if site.categories != "" %}
      {% include categorylist.html %}
    {% endif %}
    -------------
    {% endcomment %}
    {% include sidecategory.html %}      
  </div>
  <div class="list-group">
    {% include tags.html %}
  </div>
</div>
