#search-container input {
  padding: 10px 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
}
#results-container {
  list-style: inside;
}
#results-container li a {
  color: red;
}
#results-container li a:hover {
  color: #000;text-decoration: underline
}
#results-container li {
  margin-bottom: 5px;
}
#search-container {
  margin-bottom: 20px;
}
