{% assign show_siderecent = true %}
  {% if site.show_siderecent %}
<div class="sidebar-widget">
<h2>Label</h2>
  <div class="widget-content tagcloud">
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  {% comment %}
  <a href="/tag/{{ tagname }}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>
  {% endcomment %}
  <a href="/tags/{{ tagname }}"><span class="tagtxt">{{ tagname }}</span></a>
{% endfor %}
  </div>
</div>
{% endif %}
