---
layout: base
---
  <button id="backButton" onclick="window.history.back()">Go Back</button>

  <script>
    // Cek apakah referer berasal dari example.com
    const referrer = document.referrer;
    const currentDomain = window.location.origin; // Mendapatkan domain saat ini, misal https://example.com

    // Jika referrer termasuk dalam domain yang sama, tampilkan tombol
    if (referrer.startsWith(currentDomain)) {
      document.getElementById('backButton').style.display = 'block';
    }
  </script>
<header class="topheader topheaderindex">
<nav class="navbar navbar-default navbar-fixed-top navbar-custom indexpage">
{% include nav.html %}
</nav>
</header>
{% include header.html type="page" %}
<main class="container">
  <div class="row clearfloat">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
    </div>
    {% include sidebar.html %}
  </div>
</main>
